@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@700&display=swap');

@font-face {
  font-family: 'Android';
  src: url('../fontes/idroid.otf') format('opentype');
  font-weight: normal;
}

:root{
  --Main:#6A994E;
  --Sub:#386641;
  --Extra:#A7C957;
  --Arround:#F2E8CF;

  --fontePadrao: 'Open Sans', sans-serif;
  --fonteTitulo: 'Oswald', sans-serif;
  --fonteAndroid: 'Android', 'Oswald', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: var(--Arround);
  font-family: var(--fontePadrao);
}

header {
  padding-top: 30px;
  min-height: 150px;
  text-align: center;
  background-image: linear-gradient(to top, var(--Sub), var(--Main));
  color: white;
}

header h1{
  font: 48px var(--fonteTitulo);
  margin-bottom: 20px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.288);
  
}

header p{
  font-size: 1.2rem;
  max-width: 600px;
  margin: auto;
  padding: 0 10px 20px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.288);
}

nav {
  
  background: var(--Sub);
  padding: 10px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.288);
  
}

nav a{
  color: white;
  padding: 10px;
  font-size: 1.2em;
  
}

nav a:hover {
  transition: 300ms;
  color: var(--Extra);
}

nav ul li{
  display: inline-block;
  color: white;
}

main {
  min-width: 400px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
}

main h2, main h1 {
  font-family: var(--fonteAndroid);
  font-weight: normal;
}

main h1 {
  color: var(--Sub);
  font-size: 2.4em;
}

main h2 {
  color: var(--Sub);
  background-image: linear-gradient(to right, var(--Extra), transparent);
  border-radius: 20px;
  font-size: 2em;
  text-indent: 8px;
}

main p {
  text-indent: 20px;
  line-height: 2em;
  font-size: 1.1em;
  text-align: justify;
  margin: 15px 0;
}

main strong {
  color: var(--Main);
  font-weight: bold;
}

a.externo::after {
  content: '\1F517';
}

main a {
  font-weight: bold;
  color: var(--Sub);
  text-shadow: 0px 0px 20px var(--Main);
}

main a:hover {
  text-shadow: none;
  color: var(--Main);
  text-decoration: underline;
}

img {
  width: 100%;
  padding: 20px;
}

.video {
  background-color: var(--Sub);
  margin: 0 -20px 30px;
  padding: 20px 20px 56.5%;
  position: relative;
}

.video iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

aside {
  background-color: var(--Extra);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.267);
}

aside h3 {
  font-size: 1.4em;
  font-weight: normal;
  background-color: var(--Sub);
  color: white;
  padding: 10px;
  margin: -10px -10px 0 -10px;
  border-radius: 10px 10px 0 0;
}

aside p {
  text-indent: 0px;
}

aside ul {
  list-style-type: '\2714\00A0';
  list-style-position: inside;
  columns: 2;
}

aside strong {
  color: #386641;
}

aside a {
  color: black;
}

aside a:hover {
  color: var(--Sub);
}

.pequena {
  max-width: 350px;
  display: block;
  margin: auto;
}

footer {
  background: var(--Sub);
  color: white;
  text-align: center;
  padding: 6px 0;
  font-size: 0.9em;
}

footer a {
  color: var(--Extra);
}

footer a:hover {
  transition: 500ms;
  color: var(--Arround);
}