* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

body {
  background: fixed url(../assets/imagens/fundo-madeira.jpg) no-repeat center;
  background-size: cover;
}

iframe {
  position: relative;
  top: 12.8%;
  left: 7.1%;
   width: 267px;
  height: 471px;
  border-radius: 1%;
  
}

section:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-image: url(../assets/imagens/frame-iphone.png);
  height: 627px;
  width: 311px;
}

section:nth-child(2) {
  text-align: right;
}

ul img {
  border-radius: 100%;
  width: 75px;
  box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.4);
}

ul img:hover {
  box-shadow: 3px 4px 20px rgba(0, 0, 0,0.6);
  transition: .5s;
  transform: translate(-5px, -5px);
}

li {
  margin: 20px;
}
