* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

body {
  background: fixed url(../assets/imagens/fundo-madeira.jpg) no-repeat center;
  background-size: cover;
}

iframe {
   width: 277px;
  height: 480px;
}

section:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-image: url(../assets/imagens/frame-iphone.png);
  height: 627px;
  width: 311px;
}

section:nth-child(2) {
  text-align: right;
}

ul img {
  border-radius: 100%;
  width: 75px;
}

ul img:hover {
  box-shadow: 1px 1px 1px black;
  transition: 1s;
  transform: translate(-5px, -5px);
}

li {
  margin: 20px;
}
